<form [formGroup]="userData" (ngSubmit)="login()">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="username"
      placeholder="Usuario"
      formControlName="username"
    />
    <label for="username">Usuario</label>
  </div>
  <div class="form-floating">
    <input
      type="password"
      class="form-control"
      id="password"
      placeholder="Password"
      formControlName="password"
    />
    <label for="password">Password</label>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!userData.valid">
    Iniciar sesión
  </button>
</form>
